# dev
.data/
.env
.wrangler/
node_modules/
.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/*.code-snippets

# env
.env
.env.production
.dev.vars

# prod
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*templ.go

# certs
*.pem
*.crt
*.key

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# build/test
*.test
*.out
go.work
tmp/
about/.vitepress/cache
about/.vitepress/dist

# misc
.DS_Store
