body {
  background-color: #121212;
  color: #ffbe0b;
}

h1.title {
  font-size: clamp(3em, 7vw, 5.5em);
  justify-content: center;
  text-align: center;
}

.hidden {
  display: none;
}

.bakbak-one-regular {
  font-family: "Bakbak One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oxanium-light {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.oxanium-heavy {
  font-family: "Oxanium", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.michroma-regular {
  font-family: "Michroma", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-caslon-text-regular {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-caslon-text-bold {
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-caslon-text-regular-italic {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: italic;
}

#centered {
  display: flex;
  flex-direction: column;
/*  gap: 3em; */
  align-content: stretch;
}

#centered > div {
  display: flex;
  flex-direction: column;
  padding-top: 14vh;
  gap: 1.6em;
  justify-content: center;
  align-items: center;
}

.menuitem {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.menuitem:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.menuitem:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.menuitem:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

footer {
  position: fixed;
  font-size: 0.8em;
  width: 100%;
  bottom: 0;
  text-align: center;
}

footer a {
  color: #ffbe0b;
  text-decoration: wavy underline;
}

footer a:active, footer a:hover {
  color: #06d6a0;
  text-decoration: underline;
}

footer hr {
  width: 20%;
  color: #ffbe0b;
  background-color: #ffbe0b;
  border-color: #ffbe0b;
}